{% load static %}
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background: linear-gradient(to top, #A79589, #351a06);
        font-family: Arial, sans-serif;
    }
    
    .UserDetails {
        text-align: center;
        margin-bottom: 50px;
        border-color: #351a06;
        border: 2px;
        border-radius: 20px;
        padding: 20px;
        background-color: #cfbdaf;
        width: 300px;
        color: #351a06;
    }
    
    form {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 300px;
    }
    
    img {
        border-radius: 10px;
    }
</style>
<section class="UserDetails">
    <h2>My Profile</h2>
    {% if user.profile.image %}
    <img src="{{ request.user.profile.image.url }}" alt="Profile Image" id="profile-pic" height="200 px" ; /> {% else %}
    <img src="{% static 'images/userr.png' %}" alt="Default image" id="profile-pic" width="200 px" ;> {% endif %}
    <p><b>Name:</b> {{ request.user.username }}</p>
    <p><b>Email:</b> {{ request.user.profile.email }}</p>
    <p><b>Role:</b> {{ request.user.profile.get_role_display }}</p>
    {% if request.user.profile.specialty %}
    <p><b>specialty:</b> {{ request.user.profile.specialty }}</p>
    {% endif %}
</section>


<button id="edit-button" style="background-color: #351a06; color: white; padding: 10px 20px; margin: 10px 0; border: none; cursor: pointer; border-radius:20px;">Edit</button>

<form id="profile-form" method="POST" action="{% url 'profile' request.user.id %}" enctype="multipart/form-data" style="width: 300px; margin: auto; padding: 20px; color:#351a06; background-color: #cfbdaf; border-radius: 4px; display: none;">
    {% csrf_token %} {{ form.as_p }}
    <button style="background-color: #8a4c1d; color: white; padding: 10px 20px; margin: 10px 0; border: none; cursor: pointer; border-radius:20px;">Save details</button>
</form>

<script>
    document.getElementById('edit-button').addEventListener('click', function() {
        document.getElementById('profile-form').style.display = 'block';
    });
</script>
<!-- {% if role_picked %}
<script>
    alert("You've already picked a role.");
</script>
{% endif %} -->
